### Imports

In [1]:
import json
import csv
import pandas as pd

## Funções Auxiliares

In [17]:
def create_list_of_items(dictionary: dict) -> list:
    """
    Converts a dictionary into a list of item pairs, where each key is paired with each of its values.
    
    Args:
        dictionary (dict): A dictionary where each key maps to a list of values.
        
    Returns:
        list: A list of lists, where each inner list contains a key-value pair from the dictionary.
    """
    rows = []
    for key, values in dictionary.items():
        for value in values:
            rows.append([key, value])
    return rows

## Leitura dos Assessements

In [2]:
def json_to_dataframe(json_file: str) -> pd.DataFrame:
    """
    Reads a JSON file and converts it into a Pandas DataFrame.
    
    Args:
        json_file (str): The path to the JSON file where each line is a JSON object.
        
    Returns:
        pd.DataFrame: A DataFrame containing the structured data from the JSON file.
    """
    data = []
    with open(json_file, 'r') as file:
        for line in file:
            data.append(json.loads(line))
    dataframe = pd.json_normalize(data)
    return dataframe

In [3]:
json_file = 'assessements.json'
dataframe = json_to_dataframe(json_file)

## Renomeia e Agrupa Usos

In [4]:
def rename_uses(df: pd.DataFrame) -> None:
    """
    Renames and standardizes values in the 'use_and_trade' column of a DataFrame.
    
    This function processes a DataFrame to unify different terms in the 'use_and_trade' column, consolidating them into standard categories.
    Unknown or unlisted uses are labeled appropriately.
    
    Args:
        df (pd.DataFrame): The DataFrame containing a 'use_and_trade' column, with each entry being a list of uses.
        
    Returns:
        None: The function modifies the DataFrame in place.
    """
    valid_uses = ['Pets/display animals, horticulture', 
                  'Sport hunting/specimen collecting', 
                  'Construction or structural materials', 
                  'Fuels',
                  'Medicine - human & veterinary', 
                  'Research',
                  'Handicrafts, jewellery, etc.',
                  'Wearing apparel, accessories']
    for i in range(len(df)):
        uses = df.iloc[i]['use_and_trade']
        new_uses = []
        for use in uses:
            if use == "Unknown" and len(uses) <= 1:
                new_uses = ["Unknown"]
            elif use in valid_uses:
                new_uses.append(use)
            elif use == "Food - human" or use == "Food - animal":
                if "Food" not in new_uses:
                    new_uses.append("Food")
            elif use == 'Manufacturing chemicals' or use == 'Other chemicals':
                if 'Chemicals' not in new_uses:
                    new_uses.append('Chemicals')
            else:
                if 'Others' not in new_uses:
                    new_uses.append('Others')
        if len(uses) == 0:
            new_uses = ["Unknown"]
        df.at[i, 'use_and_trade'] = new_uses

In [5]:
rename_uses(dataframe)
display(dataframe)

,locations,red_list_category,threats,use_and_trade,year_published,taxon.class_name,taxon.family_name,taxon.kingdom_name,taxon.order_name,taxon.phylum_name,taxon.scientific_name,taxon.sis_id
0,"[{'country': 'Zimbabwe', 'presence': 'Extant'}...",LC,[],[Unknown],2019,MAGNOLIOPSIDA,BURSERACEAE,PLANTAE,SAPINDALES,TRACHEOPHYTA,Commiphora glandulosa,146223165
1,"[{'country': 'Peru', 'presence': 'Extant'}, {'...",LC,[],"[Pets/display animals, horticulture]",2018,AVES,ICTERIDAE,ANIMALIA,PASSERIFORMES,CHORDATA,Dives warczewiczi,22724305
2,"[{'country': 'Paraguay', 'presence': 'Extant'}...",NR,[],[Unknown],2000,AVES,BUCCONIDAE,ANIMALIA,PICIFORMES,CHORDATA,Notharchus swainsoni,22733165
3,"[{'country': 'Togo', 'presence': 'Extant'}, {'...",LC,[],[Food],2015,ACTINOPTERYGII,MUGILIDAE,ANIMALIA,MUGILIFORMES,CHORDATA,Mugil curema,190168
4,"[{'country': 'Ogasawara-shoto', 'presence': 'E...",DD,[],[Unknown],1996,GASTROPODA,CAMAENIDAE,ANIMALIA,STYLOMMATOPHORA,MOLLUSCA,Mandarina aureola,12741
...,...,...,...,...,...,...,...,...,...,...,...,...
320979,"[{'country': 'Rondônia', 'presence': 'Extant'}...",EN,"[Agro-industry grazing, ranching or farming, U...",[Unknown],2021,ACTINOPTERYGII,RIVULIDAE,ANIMALIA,CYPRINODONTIFORMES,CHORDATA,Anablepsoides luitalimae,173823654
320980,"[{'country': 'Sicilia', 'presence': 'Extant'},...",EN,"[Recreational activities, Tourism & recreation...",[Unknown],2016,INSECTA,ACRIDIDAE,ANIMALIA,ORTHOPTERA,ARTHROPODA,Sphingonotus personatus,16084535
320981,"[{'country': 'Solomon Islands', 'presence': 'E...",LC,[],"[Handicrafts, jewellery, etc., Sport hunting/s...",2013,GASTROPODA,CONIDAE,ANIMALIA,NEOGASTROPODA,MOLLUSCA,Conus biliosus,192420
320982,[],E,[],[Unknown],1986,MAMMALIA,CERCOPITHECIDAE,ANIMALIA,PRIMATES,CHORDATA,Mandrillus leucophaeus,12753
320983,[{'country': 'Lao People's Democratic Republic...,LR/lc,[],"[Food, Pets/display animals, horticulture]",2000,AVES,PELLORNEIDAE,ANIMALIA,PASSERIFORMES,CHORDATA,Schoeniparus dubius,22716627

## Remove Assessements sem Dados de Risco

In [6]:
dataframe = dataframe.dropna(subset=['red_list_category'])

## Limpar Categorias de Risco

In [8]:
mapping = {'LC': 'LC',
            'LR/lc': 'LC',
            'EN': 'EN',
            'E': 'EN',
            'NT': 'LT',
            'LR/nt': 'LT',
            'LR/cd': 'LT',
            'VU': 'VU',
            'V': 'VU',
            'RE': 'RE',
            'DD': 'NA',
            'I': 'NA',
            'K': 'NA',
            'R': 'NA',
            'CR': 'CR',
            'NA': 'NA',
            'NE': 'NA',
            'EX': 'EX',
            'Ex': 'EX',
            'Ex?': 'EX',
            'EW': 'EW'}

# NA = No Risk Data
# LC = Least Concern
# LT = Little Threatened
# VU = Vulnerable
# EN = Endangered
# CR = Critically Endangered
# RE = Regionally Extinct
# EW = Extinct in the Wild
# EX = Extinct

In [9]:
dataframe['red_list_category'] = dataframe['red_list_category'].replace(mapping)

In [10]:
dataframe = dataframe.rename(columns={'red_list_category': 'risk_category'})

In [11]:
display(dataframe)

,locations,risk_category,threats,use_and_trade,year_published,taxon.class_name,taxon.family_name,taxon.kingdom_name,taxon.order_name,taxon.phylum_name,taxon.scientific_name,taxon.sis_id
0,"[{'country': 'Zimbabwe', 'presence': 'Extant'}...",LC,[],[Unknown],2019,MAGNOLIOPSIDA,BURSERACEAE,PLANTAE,SAPINDALES,TRACHEOPHYTA,Commiphora glandulosa,146223165
1,"[{'country': 'Peru', 'presence': 'Extant'}, {'...",LC,[],"[Pets/display animals, horticulture]",2018,AVES,ICTERIDAE,ANIMALIA,PASSERIFORMES,CHORDATA,Dives warczewiczi,22724305
2,"[{'country': 'Paraguay', 'presence': 'Extant'}...",NR,[],[Unknown],2000,AVES,BUCCONIDAE,ANIMALIA,PICIFORMES,CHORDATA,Notharchus swainsoni,22733165
3,"[{'country': 'Togo', 'presence': 'Extant'}, {'...",LC,[],[Food],2015,ACTINOPTERYGII,MUGILIDAE,ANIMALIA,MUGILIFORMES,CHORDATA,Mugil curema,190168
4,"[{'country': 'Ogasawara-shoto', 'presence': 'E...",NA,[],[Unknown],1996,GASTROPODA,CAMAENIDAE,ANIMALIA,STYLOMMATOPHORA,MOLLUSCA,Mandarina aureola,12741
...,...,...,...,...,...,...,...,...,...,...,...,...
320979,"[{'country': 'Rondônia', 'presence': 'Extant'}...",EN,"[Agro-industry grazing, ranching or farming, U...",[Unknown],2021,ACTINOPTERYGII,RIVULIDAE,ANIMALIA,CYPRINODONTIFORMES,CHORDATA,Anablepsoides luitalimae,173823654
320980,"[{'country': 'Sicilia', 'presence': 'Extant'},...",EN,"[Recreational activities, Tourism & recreation...",[Unknown],2016,INSECTA,ACRIDIDAE,ANIMALIA,ORTHOPTERA,ARTHROPODA,Sphingonotus personatus,16084535
320981,"[{'country': 'Solomon Islands', 'presence': 'E...",LC,[],"[Handicrafts, jewellery, etc., Sport hunting/s...",2013,GASTROPODA,CONIDAE,ANIMALIA,NEOGASTROPODA,MOLLUSCA,Conus biliosus,192420
320982,[],EN,[],[Unknown],1986,MAMMALIA,CERCOPITHECIDAE,ANIMALIA,PRIMATES,CHORDATA,Mandrillus leucophaeus,12753
320983,[{'country': 'Lao People's Democratic Republic...,LC,[],"[Food, Pets/display animals, horticulture]",2000,AVES,PELLORNEIDAE,ANIMALIA,PASSERIFORMES,CHORDATA,Schoeniparus dubius,22716627

In [12]:
dataframe.to_csv("assessements.csv")

### Listas de IDs

In [13]:
unique_ids = list(dataframe['taxon.sis_id'].unique())

In [14]:
def create_dict_uses_by_id(dataframe: pd.DataFrame, column: str, unique_ids: list) -> dict:
    """
    Creates a dictionary mapping each unique taxon ID to the longest list of values in a specified column.
    
    Args:
        dataframe (pd.DataFrame): The DataFrame containing species data and the specified column.
        column (str): The name of the column to retrieve lists of values from.
        unique_ids (list): A list of unique taxon IDs (from 'taxon.sis_id') to filter by.
        
    Returns:
        dict: A dictionary where each key is a taxon ID, and each value is the longest list of values from the specified column.
    """
    dict_uses_id = {}
    for i in range(len(unique_ids)):
        filtered_dataframe = dataframe[dataframe['taxon.sis_id'] == unique_ids[i]]
        list_of_max_length = []
        for j in range(len(filtered_dataframe)):
            list_of_values = filtered_dataframe.iloc[j][column]
            if len(list_of_values) > len(list_of_max_length):
                list_of_max_length = list_of_values
        dict_uses_id[unique_ids[i]] = list_of_max_length
    return dict_uses_id

### Dataframe de Usos por ID

In [15]:
def create_dataframe_uses_by_id(dataframe: pd.DataFrame, unique_ids: list) -> pd.DataFrame:
    """
    Creates a DataFrame that maps each taxon ID to its associated uses or trades.
    
    Args:
        dataframe (pd.DataFrame): The DataFrame containing species data, including the 'use_and_trade' column.
        unique_ids (list): A list of unique taxon IDs to filter by.
        
    Returns:
        pd.DataFrame: A DataFrame with columns "ID" and "Use", representing each taxon ID and its associated uses or trades.
    """
    dict_uses_id = create_dict_uses_by_id(dataframe, 'use_and_trade', unique_ids)
    rows = create_list_of_items(dict_uses_id)
    return pd.DataFrame(rows, columns=["ID", "Use"])

In [18]:
uses_dataframe = create_dataframe_uses_by_id(dataframe, unique_ids)
display(uses_dataframe)

               ID                                 Use
0       146223165                             Unknown
1        22724305  Pets/display animals, horticulture
2        22733165                             Unknown
3          190168                                Food
4           12741                             Unknown
...           ...                                 ...
191691  194012578                             Unknown
191692  173823654                             Unknown
191693   16084535                             Unknown
191694     192420        Handicrafts, jewellery, etc.
191695     192420   Sport hunting/specimen collecting

[191696 rows x 2 columns]

**Salvar Dataframe**

In [ ]:
uses_dataframe.to_csv("usos.csv")

### Dataframe de IDs por País

In [19]:
def create_dataframe_countries_by_id(dataframe: pd.DataFrame, unique_ids: list) -> pd.DataFrame:
    """
    Creates a DataFrame mapping each taxon ID to the countries in which it is located.
    
    Args:
        dataframe (pd.DataFrame): The DataFrame containing species data, including the 'locations' column.
        unique_ids (list): A list of unique taxon IDs to filter by.
        
    Returns:
        pd.DataFrame: A DataFrame with columns "ID" and "Country", where each row represents a taxon ID and a country where it is found.
    """
    dict_countries_id = create_dict_uses_by_id(dataframe, 'locations', unique_ids)
    rows = []
    for key, values in dict_countries_id.items():
        for value in values:
            rows.append([key, value['country']])
    return pd.DataFrame(rows, columns=["ID", "Country"])

In [20]:
countries_dataframe = create_dataframe_countries_by_id(dataframe, unique_ids)
display(countries_dataframe)

                ID                                Country
0        146223165                               Zimbabwe
1        146223165                                 Zambia
2        146223165  Congo, The Democratic Republic of the
3        146223165                                 Angola
4        146223165                             Mozambique
...            ...                                    ...
1206783     192420                    Ashmore-Cartier Is.
1206784     192420                                Comoros
1206785     192420                              Australia
1206786     192420                Coral Sea Is. Territory
1206787     192420                                Myanmar

[1206788 rows x 2 columns]

**Salvar dataframe**

In [ ]:
countries_dataframe.to_csv("paises.csv")